#!/usr/bin/make -f

DEB_CABAL_PACKAGE = relational-join

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk


# How to install an extra file into the documentation package
#binary-fixup/libghc-relational-join-doc::
#	echo "Some informative text" > debian/libghc-relational-join-doc/usr/share/doc/libghc-relational-join-doc/AnExtraDocFile
