Source: haskell-relational-query-hdbc
Maintainer: Kei Hibino <ex8k.hibino@gmail.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-hdbc-dev (>= 2)
               , libghc-hdbc-prof (>= 2)
               , libghc-hdbc-session-dev
               , libghc-hdbc-session-prof
               , libghc-convertible-dev
               , libghc-convertible-prof
               , libghc-dlist-dev
               , libghc-dlist-prof
               , libghc-names-th-dev
               , libghc-names-th-prof
               , libghc-persistable-record-dev (>= 0.2)
               , libghc-persistable-record-prof (>= 0.2)
               , libghc-relational-query-dev (>= 0.7)
               , libghc-relational-query-prof (>= 0.7)
               , libghc-relational-schemas-dev
               , libghc-relational-schemas-prof
               , libghc-transformers-dev
               , libghc-transformers-prof
Build-Depends-Indep: ghc-doc
                     , libghc-hdbc-doc (>= 2)
                     , libghc-hdbc-session-doc
                     , libghc-convertible-doc
                     , libghc-dlist-doc
                     , libghc-names-th-doc
                     , libghc-persistable-record-doc (>= 0.2)
                     , libghc-relational-query-doc (>= 0.7)
                     , libghc-relational-schemas-doc
                     , libghc-transformers-doc

Package: libghc-relational-query-hdbc-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: HDBC instance of relational-query and typed query interface for HDBC
 This package contains the HDBC instance of relational-query and
 the typed query interface for HDBC.
 Generating Database table definitions and functions for
 relational-query by reading table and index definitions
 from Database system catalogs.
 .
  Author: Kei Hibino, Shohei Murayama, Shohei Yasutake, Sho KURODA
  Upstream-Maintainer: ex8k.hibino@gmail.com, shohei.murayama@gmail.com, amutake.s@gmail.com, krdlab@gmail.com
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-hdbc-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: HDBC instance of relational-query and typed query interface for HDBC
 This package contains the HDBC instance of relational-query and
 the typed query interface for HDBC.
 Generating Database table definitions and functions for
 relational-query by reading table and index definitions
 from Database system catalogs.
 .
  Author: Kei Hibino, Shohei Murayama, Shohei Yasutake, Sho KURODA
  Upstream-Maintainer: ex8k.hibino@gmail.com, shohei.murayama@gmail.com, amutake.s@gmail.com, krdlab@gmail.com
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-hdbc-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: HDBC instance of relational-query and typed query interface for HDBC
 This package contains the HDBC instance of relational-query and
 the typed query interface for HDBC.
 Generating Database table definitions and functions for
 relational-query by reading table and index definitions
 from Database system catalogs.
 .
  Author: Kei Hibino, Shohei Murayama, Shohei Yasutake, Sho KURODA
  Upstream-Maintainer: ex8k.hibino@gmail.com, shohei.murayama@gmail.com, amutake.s@gmail.com, krdlab@gmail.com
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.
