Source: haskell-relational-query
Maintainer: Kei Hibino <ex8k.hibino@gmail.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-dlist-dev
               , libghc-dlist-prof
               , libghc-names-th-dev
               , libghc-names-th-prof
               , libghc-persistable-record-dev (>= 0.2)
               , libghc-persistable-record-prof (>= 0.2)
               , libghc-sql-words-dev (>= 0.1.1)
               , libghc-sql-words-prof (>= 0.1.1)
               , libghc-text-dev
               , libghc-text-prof
               , libghc-time-locale-compat-dev
               , libghc-time-locale-compat-prof
               , libghc-transformers-dev
               , libghc-transformers-prof
Build-Depends-Indep: ghc-doc
                     , libghc-dlist-doc
                     , libghc-names-th-doc
                     , libghc-persistable-record-doc (>= 0.2)
                     , libghc-sql-words-doc (>= 0.1.1)
                     , libghc-text-doc
                     , libghc-time-locale-compat-doc
                     , libghc-transformers-doc

Package: libghc-relational-query-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Typeful, Modular, Relational, algebraic query engine
 This package contiains typeful relation structure and
 relational-algebraic query building DSL which can
 translate into SQL query.
 Supported query features are below:
 - Type safe query building
 - Restriction, Join, Aggregation
 - Modularized relations
 - Typed placeholders
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Typeful, Modular, Relational, algebraic query engine
 This package contiains typeful relation structure and
 relational-algebraic query building DSL which can
 translate into SQL query.
 Supported query features are below:
 - Type safe query building
 - Restriction, Join, Aggregation
 - Modularized relations
 - Typed placeholders
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Typeful, Modular, Relational, algebraic query engine
 This package contiains typeful relation structure and
 relational-algebraic query building DSL which can
 translate into SQL query.
 Supported query features are below:
 - Type safe query building
 - Restriction, Join, Aggregation
 - Modularized relations
 - Typed placeholders
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.
