Source: haskell-relational-query
Maintainer: Kei Hibino <ex8k.hibino@gmail.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-array-dev | ghc
               , libghc-array-prof | ghc-prof
               , libghc-base-dev (<< 5) | ghc
               , libghc-base-prof (<< 5) | ghc-prof
               , libghc-bytestring-dev | ghc
               , libghc-bytestring-prof | ghc-prof
               , libghc-containers-dev | ghc
               , libghc-containers-prof | ghc-prof
               , libghc-dlist-dev
               , libghc-dlist-prof
               , libghc-names-th-dev
               , libghc-names-th-prof
               , libghc-persistable-record-dev
               , libghc-persistable-record-prof
               , libghc-sql-words-dev
               , libghc-sql-words-prof
               , libghc-template-haskell-dev | ghc
               , libghc-template-haskell-prof | ghc-prof
               , libghc-text-dev
               , libghc-text-prof
               , libghc-time-dev | ghc
               , libghc-time-prof | ghc-prof
               , libghc-transformers-dev
               , libghc-transformers-prof
Build-Depends-Indep: ghc-doc
                     , libghc-array-doc | ghc-doc
                     , libghc-base-doc (<< 5) | ghc-doc
                     , libghc-bytestring-doc | ghc-doc
                     , libghc-containers-doc | ghc-doc
                     , libghc-dlist-doc
                     , libghc-names-th-doc
                     , libghc-persistable-record-doc
                     , libghc-sql-words-doc
                     , libghc-template-haskell-doc | ghc-doc
                     , libghc-text-doc
                     , libghc-time-doc | ghc-doc
                     , libghc-transformers-doc

Package: libghc-relational-query-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Typeful, Modular, Relational, algebraic query engine
 This package contiains typeful relation structure,
 SQL query generator and some RDBMSs' schema templates.
 Supported query features are below:
 - Type safe query building
 - Restriction, Join, Aggregation
 - Modularized relations
 - Typed placeholders
 Supported RDBMS schemas are below:
 - IBM DB2
 - PostgreSQL
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Typeful, Modular, Relational, algebraic query engine
 This package contiains typeful relation structure,
 SQL query generator and some RDBMSs' schema templates.
 Supported query features are below:
 - Type safe query building
 - Restriction, Join, Aggregation
 - Modularized relations
 - Typed placeholders
 Supported RDBMS schemas are below:
 - IBM DB2
 - PostgreSQL
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Typeful, Modular, Relational, algebraic query engine
 This package contiains typeful relation structure,
 SQL query generator and some RDBMSs' schema templates.
 Supported query features are below:
 - Type safe query building
 - Restriction, Join, Aggregation
 - Modularized relations
 - Typed placeholders
 Supported RDBMS schemas are below:
 - IBM DB2
 - PostgreSQL
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.
