Source: haskell-persistable-record
Maintainer: Kei Hibino <ex8k.hibino@gmail.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-array-dev | ghc
               , libghc-array-prof | ghc-prof
               , libghc-base-dev (<< 5) | ghc
               , libghc-base-prof (<< 5) | ghc-prof
               , libghc-containers-dev | ghc
               , libghc-containers-prof | ghc-prof
               , libghc-names-th-dev
               , libghc-names-th-prof
               , libghc-template-haskell-dev | ghc
               , libghc-template-haskell-prof | ghc-prof
Build-Depends-Indep: ghc-doc
                     , libghc-array-doc | ghc-doc
                     , libghc-base-doc (<< 5) | ghc-doc
                     , libghc-containers-doc | ghc-doc
                     , libghc-names-th-doc
                     , libghc-template-haskell-doc | ghc-doc

Package: libghc-persistable-record-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Binding between SQL database values and haskell records.
 This package contiains types to represent table constraints and
 interfaces to bind between SQL database values and Haskell records.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-persistable-record-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Binding between SQL database values and haskell records.
 This package contiains types to represent table constraints and
 interfaces to bind between SQL database values and Haskell records.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-persistable-record-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: Binding between SQL database values and haskell records.
 This package contiains types to represent table constraints and
 interfaces to bind between SQL database values and Haskell records.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.
