Source: haskell-th-names
Priority: extra
Section: haskell
Maintainer: Kei Hibino <ex8k.hibino@gmail.com>
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-base-dev (<< 5) | ghc
               , libghc-base-prof (<< 5) | ghc-prof
               , libghc-template-haskell-dev | ghc
               , libghc-template-haskell-prof | ghc-prof
Build-Depends-Indep: ghc-doc
                     , libghc-base-doc (<< 5) | ghc-doc
                     , libghc-template-haskell-doc | ghc-doc
Standards-Version: 3.9.3
Homepage: http://twitter.com/khibino

Package: libghc-th-names-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Manipulate name strings for TH
 This package includes functions to manipulate name string for Template Haskell.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package contains the normal library files.

Package: libghc-th-names-prof
Architecture: any
Depends: ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Manipulate name strings for TH
 This package includes functions to manipulate name string for Template Haskell.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package contains the libraries compiled with profiling enabled.

Package: libghc-th-names-doc
Architecture: all
Section: doc
Depends: ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Description: Manipulate name strings for TH
 This package includes functions to manipulate name string for Template Haskell.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package contains the documentation files.
