#!/usr/bin/make -f

DEB_CABAL_PACKAGE = th-names

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk


# How to install an extra file into the documentation package
#binary-fixup/libghc-th-names-doc::
#	echo "Some informative text" > debian/libghc-th-names-doc/usr/share/doc/libghc-th-names-doc/AnExtraDocFile
