#!/usr/bin/make -f

DEB_CABAL_PACKAGE = hdbc-schema-th
DEB_SETUP_GHC_CONFIGURE_ARGS = --disable-tests

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk


# How to install an extra file into the documentation package
#binary-fixup/libghc-hdbc-schema-th-doc::
#	echo "Some informative text" > debian/libghc-hdbc-schema-th-doc/usr/share/doc/libghc-hdbc-schema-th-doc/AnExtraDocFile
