Source: haskell-relational-schemas
Maintainer: Kei Hibino <ex8k.hibino@gmail.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-persistable-record-dev
               , libghc-persistable-record-prof
               , libghc-relational-query-dev
               , libghc-relational-query-prof
Build-Depends-Indep: ghc-doc
                     , libghc-persistable-record-doc
                     , libghc-relational-query-doc

Package: libghc-relational-schemas-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: RDBMSs' schema templates for relational-query
 This package contains some RDBMSs' schema structure definitions.
 Supported RDBMS schemas are below:
 - IBM DB2
 - PostgreSQL
 - Microsoft SQLServer
 - SQLite3
 - Oracle
 - MySQL
 .
  Author: Kei Hibino, Shohei Murayama, Shohei Yasutake, Sho KURODA
  Upstream-Maintainer: ex8k.hibino@gmail.com, shohei.murayama@gmail.com, amutake.s@gmail.com, krdlab@gmail.com
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-schemas-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: RDBMSs' schema templates for relational-query
 This package contains some RDBMSs' schema structure definitions.
 Supported RDBMS schemas are below:
 - IBM DB2
 - PostgreSQL
 - Microsoft SQLServer
 - SQLite3
 - Oracle
 - MySQL
 .
  Author: Kei Hibino, Shohei Murayama, Shohei Yasutake, Sho KURODA
  Upstream-Maintainer: ex8k.hibino@gmail.com, shohei.murayama@gmail.com, amutake.s@gmail.com, krdlab@gmail.com
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-schemas-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: RDBMSs' schema templates for relational-query
 This package contains some RDBMSs' schema structure definitions.
 Supported RDBMS schemas are below:
 - IBM DB2
 - PostgreSQL
 - Microsoft SQLServer
 - SQLite3
 - Oracle
 - MySQL
 .
  Author: Kei Hibino, Shohei Murayama, Shohei Yasutake, Sho KURODA
  Upstream-Maintainer: ex8k.hibino@gmail.com, shohei.murayama@gmail.com, amutake.s@gmail.com, krdlab@gmail.com
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.
