Source: haskell-relational-query-hdbc
Maintainer: Kei Hibino <ex8k.hibino@gmail.com>
Priority: optional
Section: haskell
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-hdbc-dev (>= 2)
               , libghc-hdbc-prof (>= 2)
               , libghc-hdbc-session-dev
               , libghc-hdbc-session-prof
               , libghc-base-dev (<< 5) | ghc
               , libghc-base-prof (<< 5) | ghc-prof
               , libghc-containers-dev | ghc
               , libghc-containers-prof | ghc-prof
               , libghc-convertible-dev
               , libghc-convertible-prof
               , libghc-names-th-dev
               , libghc-names-th-prof
               , libghc-persistable-record-dev
               , libghc-persistable-record-prof
               , libghc-relational-query-dev
               , libghc-relational-query-prof
               , libghc-template-haskell-dev | ghc
               , libghc-template-haskell-prof | ghc-prof
Build-Depends-Indep: ghc-doc
                     , libghc-hdbc-doc (>= 2)
                     , libghc-hdbc-session-doc
                     , libghc-base-doc (<< 5) | ghc-doc
                     , libghc-containers-doc | ghc-doc
                     , libghc-convertible-doc
                     , libghc-names-th-doc
                     , libghc-persistable-record-doc
                     , libghc-relational-query-doc
                     , libghc-template-haskell-doc | ghc-doc

Package: libghc-relational-query-hdbc-dev
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: HDBC instance of relational join and typed query for HDBC
 This package contains HDBC instance of relational-query and
 typed query for HDBC.
 Generating Database table definitions and functions for
 relational-query by reading table and index definitions
 from Database system catalogs.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language.
 See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-hdbc-prof
Architecture: any
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: HDBC instance of relational join and typed query for HDBC
 This package contains HDBC instance of relational-query and
 typed query for HDBC.
 Generating Database table definitions and functions for
 relational-query by reading table and index definitions
 from Database system catalogs.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides a library for the Haskell programming language, compiled
 for profiling.  See http:///www.haskell.org/ for more information on Haskell.

Package: libghc-relational-query-hdbc-doc
Architecture: all
Section: doc
Depends: ${shlibs:Depends}
         , ${haskell:Depends}
         , ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Conflicts: ${haskell:Conflicts}
Provides: ${haskell:Provides}
Replaces: ${haskell:Replaces}
Description: HDBC instance of relational join and typed query for HDBC
 This package contains HDBC instance of relational-query and
 typed query for HDBC.
 Generating Database table definitions and functions for
 relational-query by reading table and index definitions
 from Database system catalogs.
 .
  Author: Kei Hibino
  Upstream-Maintainer: ex8k.hibino@gmail.com
 .
 This package provides the documentation for a library for the Haskell
 programming language.
 See http:///www.haskell.org/ for more information on Haskell.
